.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-item > ul {
  font-size: 25px;
  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}

.logo {
  width: 150px;
  height: 150px;
}

.res-card {
  width: 200px;
  background-color: #e8acac;
  padding: 5px;
  margin: 5px;
  height: 320px;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}
.res-logo {
  width: 190px;
  height: 120px;
  padding: 5px;
}
.res-name {
  text-align: center;
  margin-top: 5px;
  font-family: cursive;
}
.res-type {
  font-family: cursive;
  text-align: center;
  margin-top: -5px;
}
.res-rating {
  font-size: small;
  color: #c9e6609b;
}
.rate-container {
  width: 200px;
  height: 20px;
  text-align: center;
  background-color: #616f2e9b;
}
.res-delivery-time {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
.footer-links > ul {
  font-size: 15px;
  display: flex;
  list-style-type: none;
}
.footer-links > ul > li {
  padding: 10px;
  margin: 10px;
}
.copyright-container {
  padding: 10px;
  margin-top: 30px;
}
.Address-container {
  padding: 5px;
  margin-top: 13px;
}

.feedback-container {
  padding: 10px;
  margin-top: 25px;
}
